<% body_content = @page[:body] if (body_content = yield :body_content_left).blank? %>

<%= render :partial => "/shared/sidebar" if sidebar_required? %>

<div id="maincolumn" class="clearfix"> 
  <div class="box-1">
    <%= body_content %>
  </div>
  <% unless @page[:grey_box].blank? %>
  <div class="box-2">
    <%= @page[:grey_box] %>
  </div>
  <% end  %>
</div> 



<%= render :partial => '/shared/draft_page_message' unless @page.nil? or @page.live? -%>
