<div id="footer">
                                <div id="cont">
                                                <div id="top">
                                                		<a href="#" class="texttoggler" rel="smallview" title="small size">X<img src="smallview.png" /></a> 
<a href="#" class="texttoggler" rel="normalview" title="normal size">X<img src="normalview.png" /></a> 
<a href="#" class="texttoggler" rel="largeview" title="large size">X<img src="largeview.png" /></a> 
<a href="#" class="texttoggler" rel="xlargeview" title="extra large size">X<img src="xlargeview.png" /></a>
                                                                <ul> 
                                                                                <li><a href="/accessibility" accesskey="0">Accessibility Statement</a> | </li> 
                                                                                <li><a href="/terms-conditions-disclaimer" accesskey="8">Terms, conditions &amp; Disclaimer</a> | </li> 
                                                                                <li><a href="/contact" accesskey="y">Contact Us</a> | </li> 
                                                                                <li><a href="/sitemap" accesskey="y">Sitemap</a> | </li> 
                                                                </ul> 
                                                                <br /> 
                                                                <a href="http://jigsaw.w3.org/css-validator/check/referer"> 
                                                                                <img style="border:0;width:88px;height:31px" src="http://jigsaw.w3.org/css-validator/images/vcss-blue" alt="Valid CSS!" /> 
                                                                </a> 
                                                                <a href="http://validator.w3.org/check?uri=referer"> 
                                                                                <img src="http://www.w3.org/Icons/valid-xhtml10-blue" alt="Valid XHTML 1.0 Strict" height="31" width="88" /> 
                                                               </a>
                                                                <br /> 
                                                                Copyright &copy; Azure Charitable Enterprises 2010
                                                </div>
                                                <div id="btm">
                                                                <div class="img1">
                                                                </div>
                                                                <div class="img2">
                                                                </div>
                                                                <div class="img3">
                                                                </div>
                                                                <div class="img4">
                                                                </div>
                                                                <div class="img5">
                                                                </div>
                                                                <div class="img6">
                                                                </div>
                                                </div>
                                </div>
                </div>
