<div id="headerWrapper">
  <div id="header"> 
    <div id="testemonial">
      <%= display_page_testimonial_if_setup %>
    </div> 
    
		<a href="/"><img src="/theme/images/logo.png" alt="Azure Logo" /></a>
    
		<h1 class="hide">Azure Charitable Enterprises' Services</h1>
		<a href="#" class="texttoggler" rel="smallview" title="small size"><img src="smallview.png" /></a> 
<a href="#" class="texttoggler" rel="normalview" title="normal size"><img src="normalview.png" /></a> 
<a href="#" class="texttoggler" rel="largeview" title="large size"><img src="largeview.png" /></a> 
<a href="#" class="texttoggler" rel="xlargeview" title="extra large size"><img src="xlargeview.png" /></a>
  </div> <!-- end header -->
		
    <%= render :partial => "/shared/menu" %>
			
</div> <!-- end headerWrapper -->