<div id="headerWrapper">
  <div id="header"> 
    <p id="testemonial">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
		  <br/>
		  <br/>
			Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
    </p> 
    
		<a href="\"><img src="/theme/images/logo.png" alt="Azure Logo" /></a>
    
		<h1 class="hide">Azure Charitable Enterprises' Services</h1>
  </div> <!-- end header -->
		
    <%= render :partial => "/shared/menu" %>
			
</div> <!-- end headerWrapper -->