<% cache("#{Refinery.base_cache_key}_#{RefinerySetting.find_or_set(:refinery_menu_cache_action_suffix, "site_menu")}_#{request.path}") do
  if (collection ||= @menu_pages).any?
-%>

  <div id="primaryNav">
    <a href="#page_container" class="hide">Skip primary navigation</a>
  
    <ul id='<%= dom_id ||= "menu" %>' class='<%= [css ||= "menu", 'clearfix'].join(' ') %>'>
      <%= render :partial => "/shared/menu_branch",
                 :collection => collection,
                 :locals => {
                   :hide_children => true,
                   :sibling_count => collection.size - 1
                 } -%>
    </ul>
  </div><!-- end primaryNav -->
<%
  end
end
-%>