<div id="primaryNav">
				<a href="#page_container" class="hide">Skip primary navigation</a>
				<ul>  	
				<!-- conditional code for nav selection -->
				
					<li><a href="\" accesskey="1" class="selected">Home</a></li> 
					<li><a href="\services" accesskey="2">Services &amp;<br/> locations</a></li> 
					<li><a href="\news" accesskey="3">News</a></li> 
					<li><a href="\training" accesskey="4">Training</a></li> 
					<li><a href="\gallery" accesskey="5">Photo Gallery</a></li> 
					<li><a href="\contact" accesskey="6">Contact Us</a></li> 
					<li><a href="\jobs" accesskey="7">Jobs</a></li> 
					<li><a href="\accessibility" accesskey="0">Accessibility</a></li> 
				</ul>  
			</div> <!-- end primaryNav -->