/* RESET CSS - Please don't change*/
	html,body,div,span,applet,object,iframe,
	h1,h2,h3,h4,h5,h6,p,blockquote,pre,
	a,abbr,acronym,address,big,cite,code,
	del,dfn,em,font,img,ins,kbd,q,s,samp,
	small,strike,strong,sub,sup,tt,var,
	b,u,i,center,
	dl,dt,dd,ol,ul,li,
	fieldset,form,label,legend,
	table,caption,tbody,tfoot,thead,tr,th,td{
		margin:0;
		padding:0;
		border:0;
		outline:0;
		font-size:100%;
		vertical-align:baseline;
		background:transparent;
	}
	body{
		line-height:1;
	}
	ol,ul{
		list-style:none;
	}
	blockquote,q{
		quotes:none;
	}
	blockquote:before,blockquote:after,
	q:before,q:after{
		content:'';
		content:none;
	}
	
	:focus{
		outline:0;
	}
	
	ins{
		text-decoration:none;
	}
	del{
		text-decoration:line-through;
	}
	
	table{
		border-collapse:collapse;
		border-spacing:0;
	}

/* END OF RESET CSS */

body {  
    font-family:arial;    
    font-size:12px;  
}  
  
  
/* Slideshow styles (Home page)*/
	ul.slideshow {  
	    list-style:none;  
	    width:960px;  
	    height:300px;  
	    overflow:hidden;  
	    position:relative;  
	    margin:0;  
	    padding:0;  
	      
	}     
	  
	ul.slideshow li {  
	    position:absolute;  
	    left:0;  
	    right:0;  
	}  
	  
	ul.slideshow li.show {  
	    z-index:500;      
	}  
	  
	ul img {  
	    border:none;      
	}  
	  
	#slideshow-caption {  
	    width:960px;  
	    height:70px;  
	    position:absolute;  
	    bottom:0;  
	    left:0;   
	    color:#fff;  
	    background:#000;  
	    z-index:500;  
	}  
	  
	#slideshow-caption .slideshow-caption-container {  
	    padding:5px 10px;     
	    z-index:1000;     
	}  
	  
	#slideshow-caption h3 {  
	    margin:0;  
	    padding:0;    
	    font-size:14px;  
	}  
	  
	#slideshow-caption p {  
	    margin:5px 0 0 0;  
	    padding:0;  
	}  
/* End of slideshow CSS */