/* RESET CSS - Please don't change*/
	html,body,div,span,applet,object,iframe,
	h1,h2,h3,h4,h5,h6,p,blockquote,pre,
	a,abbr,acronym,address,big,cite,code,
	del,dfn,em,font,img,ins,kbd,q,s,samp,
	small,strike,strong,sub,sup,tt,var,
	b,u,i,center,
	dl,dt,dd,ol,ul,li,
	fieldset,form,label,legend,
	table,caption,tbody,tfoot,thead,tr,th,td{
		margin:0;
		padding:0;
		border:0;
		outline:0;
		font-size:100%;
		vertical-align:baseline;
		background:transparent;
	}
  
	ol,ul{
		list-style:none;
	}
	blockquote,q{
		quotes:none;
	}
	blockquote:before,blockquote:after,
	q:before,q:after{
		content:'';
		content:none;
	}
	
	:focus{
		outline:0;
	}
	
	ins{
		text-decoration:none;
	}
	del{
		text-decoration:line-through;
	}
	
	table{
		border-collapse:collapse;
		border-spacing:0;
	}
 
p {line-height:1.5em; margin:10px 0;}

a
{ color: #9b0580; text-decoration: none; font-weight: bold; }
a:hover
{ text-decoration: none; color: #9b0580; }
h1
{ color: #333; font-size: 4em; padding-bottom: 7px; text-shadow: 0 1px 0 #fff; }
h2
{ color: #333; font-size: 1.8em; line-height:1em; padding-bottom: 7px; margin: 10px 0; }
h3
{ color: #333; font-size: 1.3em;  }
h4
{ color: #333; font-size: 1.2em; }

        body{
                line-height:1.1em;
                background: url('/theme/images/bg.jpg');
        }

/* END OF RESET CSS */

clearfix:after
{ content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix {display: inline-table; min height: 10px;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}


body {  
    font-family:arial;    
    font-size:12px; 
	
}  
  
  
.hide {
	margin: -9000px;
	height: 0;
	width: 0;
}

a:link { 
			color: #ae469f; 
			text-decoration: none;
		}
		
		a:visited { 
			color: #ae469f; 
			text-decoration: none;
		}
		
		a:hover { 
			color: #c37fb9; 
			text-decoration: none;
		}
	
		a:active { 
			color: #ae469f; 
			text-decoration: none;
		}
		
		/* Arrows before most links */
		.pre-link {
			margin-right: 5px;
		}

/* Slideshow styles (Home page)*/
	ul.slideshow {  
	    list-style:none;  
	    width:960px;  
	    height:300px;  
	    overflow:hidden;  
	    position:relative;  
	    margin:0 auto;  
	    padding:0;  
	      
	}     
	  
	ul.slideshow li {  
	    position:absolute;  
	    left:0;  
	    right:0;  
	}  
	  
	ul.slideshow li.show {  
	    z-index:500;      
	}  
	  
	ul img {  
	    border:none;      
	}  
	  
	#slideshow-caption {  
	    width:960px;  
	    height:70px;  
	    position:absolute;  
	    bottom:0;  
	    left:0;   
	    color:#fff;  
	    background:#000;  
	    z-index:500;  
	}

        .smallSlideshow {
            width: 600px;
        }
	  
	#slideshow-caption .slideshow-caption-container {  
	    padding:5px 10px;     
	    z-index:1000;     
	}  
	  
	#slideshow-caption h3 {  
	    margin:0;  
	    padding:0;    
	    font-size:14px;  
	}  
	  
	#slideshow-caption p {  
	    margin:5px 0 0 0;  
	    padding:0;  
	}  
/* End of slideshow CSS */

#headerWrapper {
	
	background: url('/theme/images/bg-nav.png') repeat-x bottom ;
	background-color: #d7e6e1;
	height: 210px;
}

#header {
	height: 140px;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

	#header img {
		margin-left: 20px;
		margin-top: 20px;
	}

	#header #testemonial {
		float: right;	
		width: 451px;
		height: 100px;
		color: #2f3531;
		background: url('/theme/images/bg-testimonials.png') no-repeat;
		overflow: hidden;
		font-weight: normal;
		padding-top: 40px;
		font-size: 1.2em;
		text-align: center;
		border 10px solid gold;
	}
	

#primaryNav {
			position: relative;
			margin: 0 auto;
			width: 960px;
			height: 70px;
			overflow: hidden;
			color: white;
			line-height: 1.3em;
			text-align: center;
			padding-left: 100px;
		}
		
		#primaryNav li {
			list-style-type: none;
			display: inline;
		}
			
		#primaryNav a {
			display: block;
			overflow: hidden;
			float: left;
			position: relative;
			color: #ffffff;
			font-size: 1.1em;
			font-weight: bold;
			text-decoration: none;
			padding: 20px;
			padding-top: 30px;
			height: 14px;
		}
		
		#primaryNav a:hover {
			border: 6px solid #9b0580;
			border-right: 0;
			border-left: 0;
			padding-top: 24px;
		}
		
		#primaryNav li.selected a{
			background-color: #9b0580;
			border: 6px solid #9b0580;
			border-right: 0;
			border-left: 0;
			padding-top: 24px;
		}
		
	#contentWrapper {
		width: 960px;
		margin: 0 auto;
	}
		
	.introParagraph {
		background-color: #cccccc;
		width: 920px;
		padding: 20px;
		margin: 20px 0 20px 0;
	}
	
  .column {
                width: 300px;
                color: #3c3c3c;
                font-size: 1.2em;
                line-height: 1.3em;
                text-align: center;
                padding-right: 10px;
        }
        
        .col1 {
                width: 252px;
                margin: 0 auto;
                background: url('/theme/images/col1.jpg') no-repeat top center;
        }
        .col2 {
                width: 252px;
                margin: 0 auto;
                background: url('/theme/images/col2.jpg') no-repeat top center;
        }
        .col3 {
                width: 252px;
                margin: 0 auto;
                background: url('/theme/images/col3.jpg') no-repeat top center;
        }
        
        .colBottom {
                width: 242px;
                margin: 0 auto;
                background: url('/theme/images/bg-img-bottom.png') no-repeat bottom center;
                padding: 142px 0 15px 0px;
                color: #fff;
        }
        
        .column p {
                padding-top: 10px;
                width: 280px;
                text-align: justify;
        }


	.floatLeft {
		float:left;
	}
	
	
#footer {
                margin-top: 150px;
                clear: both;
                text-align: center;
                background: #4d4d4d url('/theme/images/bg-footer.png') repeat-x;
        }
        
        #footer #cont { margin: 0 auto; width: 960px; height: 500px; }
        
        #footer #cont #top ul {
                padding-top: 30px;
        }
        
        #footer #cont #top ul li {
                display: inline;
        }
        
        #footer #cont #top { float: left; width: 100%; }
        
        #footer #cont #btm { float: left; width: 100%; }
        
        #footer #cont #btm .img1 { float: left; width: 136px; height: 90px; background: url(/theme/images/bg-footer-1.png) no-repeat top left; }
        #footer #cont #btm .img1:hover { float: left; width: 136px; height: 90px; background: url(/theme/images/bg-footer-1-hi.png) no-repeat top left; }
        
        #footer #cont #btm .img2 { float: left; width: 112px; height: 90px; background: url(/theme/images/bg-footer-2.png) no-repeat top left; }
        #footer #cont #btm .img2:hover { float: left; width: 112px; height: 90px; background: url(/theme/images/bg-footer-2-hi.png) no-repeat top left; }
        
        #footer #cont #btm .img3 { float: left; width: 121px; height: 90px; background: url(/theme/images/bg-footer-3.png) no-repeat top left; }
        #footer #cont #btm .img3:hover { float: left; width: 121px; height: 90px; background: url(/theme/images/bg-footer-3-hi.png) no-repeat top left; }
        
        #footer #cont #btm .img4 { float: left; width: 155px; height: 90px; background: url(/theme/images/bg-footer-4.png) no-repeat top left; }
        #footer #cont #btm .img4:hover { float: left; width: 155px; height: 90px; background: url(/theme/images/bg-footer-4-hi.png) no-repeat top left; }
        
        #footer #cont #btm .img5 { float: left; width: 200px; height: 90px; background: url(/theme/images/bg-footer-5.png) no-repeat top left; }
        #footer #cont #btm .img5:hover { float: left; width: 200px; height: 90px; background: url(/theme/images/bg-footer-5-hi.png) no-repeat top left; }
        
        #footer #cont #btm .img6 { float: left; width: 214px; height: 90px; background: url(/theme/images/bg-footer-6.png) no-repeat top left; }
        #footer #cont #btm .img6:hover { float: left; width: 214px; height: 90px; background: url(/theme/images/bg-footer-6-hi.png) no-repeat top left; }
        #img-statement {
                padding: 15px 0 10px 0;
        }



	
	
	#sidebar { width: 280px; min-height: 400px; float: left; background: url('/theme/images/bg-sidebar.png') repeat top left; }
#sidebar #container { float: left; width: 320px; padding-top: 20px; }
#sidebar #container ul
{ list-style-type: disc; font-size: 1.1em; }
#sidebar #container ul li
{ float: left; display: block; width: 280px; }
#sidebar #container ul a
{ display: block; float: left; padding: 7px; margin: 0 5px; color: #333; width: 280px; height: 45px; }
#sidebar #container ul a:hover
{ background: url(/theme/images/bg-sidebar-hover.png) no-repeat top right; padding: 7px; margin: 0 5px; color: #fff; -webkit-transition-duration: 0.3s; -o-transition-duration: 0.3s; height: 45px; }
#sidebar #container ul li.selected a
{ background: url(/theme/images/bg-sidebar-hi.png) no-repeat top right; padding: 7px; margin: 0 5px; color: #fff; -webkit-transition-duration: 0.3s; -o-transition-duration: 0.3s; height: 45px; }
#maincolumn { padding: 0 10px 10px 40px; float: left; margin-top: 10px; margin-bottom: 10px; width: 610px; }
#maincolumn-full { padding: 0 10px 10px 40px; float: left; margin-top: 10px; margin-bottom: 10px; width: 100%; }

#maincolumn .box-1 { float: left; width: 100%; margin-bottom: 20px; }
#maincolumn .box-2 { background: #e6e6e6; padding: 7px; float: left; width: 100%; margin-bottom: 20px; }
#maincolumn #servicesimg { background-image: url('/theme/images/600wide2.jpg'); width: 600px; height: 300px; }
#maincolumn #servicesimg { background-image: url('/theme/images/600wide2.jpg'); width: 600px; height: 300px; margin:0 auto;}

/* -- Global Styles --*/


ul#staff-list {
  list-style-type:none;
}

ul#staff-list li{
  padding:20px 0;
  border-bottom:2px solid #eee;
  float:left;
}

.staff-photo {
  float:left;
  width: 150px;
}

.staff-details {
  float:left;  
  padding-left:30px;
  width:430px;
}

.staff-photo img {
	width: 133px;
	height: 180px;
}

