<h2>Improving the lives of people who are disabled or disadvantaged.</h2>

<div id="slideshow>
	<img src="slideshow1.png" alt="1" />
	<img src="slideshow2.png" alt="2" />
	<img src="slideshow3.png" alt="3" />
	<img src="slideshow4.png" alt="4" />
	<img src="slideshow5.png" alt="5" />
	<img src="slideshow6.png" alt="6" />

<p class="introParagraph">
	lorem ipsum
</p>

<div class="column">
	<img src="homeCol1.png" alt="foo" />
	<p>
		lorem ipsum
	</p>
</div>

<div class="column">
	<img src="homeCol2.png" alt="foo" />
	<p>
		lorem ipsum
	</p>
</div>

<div class="column">
	<img src="homeCol3.png" alt="foo" />
	<p>
		lorem ipsum
	</p>
</div>