<h2>Staff title</h2>
<p class="introParagraph">lorem ipsum</p>

<div id="employee">
	<h3>Employee title</h3>
	<img src="foo.png" alt="foo" />
	<ul>
		<li>qualification</li>
		<li>etc</li>
	</ul>
</div> <!-- end employee -->